version: '3.8'
services:

  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6380:6380'
    command: redis-server --save 20 1 --loglevel warning --requirepass 123456
    volumes: 
      - redis:/data


  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db


  analytics-api:
    build:
      context: .
      dockerfile: analytics-api/Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - redis


  producer:
    build:
      context: .
      dockerfile: producer/Dockerfile
    restart: unless-stopped
    depends_on:
      - mongodb
      - redis


  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    restart: unless-stopped
    depends_on:
      - mongodb
      - redis


volumes:
  redis:
    driver: local
  mongodb:
    driver: local
