annotated-types==0.7.0
dnspython==2.8.0
pydantic==2.12.5
pydantic-settings==2.13.0
pydantic_core==2.41.5
pymongo==4.16.0
python-dotenv==1.2.1
redis==7.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
